/*All Page Styling*/
* {
  font-family: 'Baloo', cursive;
}
h1 {
  background-color: #f2f2f2;
  margin: 0px;
  padding-left: 8px 15px;
}
nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}
nav ul {
	list-style: none;
	width: 800px;
	/*margin: 0 auto;*/
	padding: 0;
}
nav li {
	float: left;
}
nav li a {
	display: inline-block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #474447;
	border-right: 1px solid #ccc;
}
nav li:first-child a {
	border-left: 1px solid #ccc;
}
nav li a:hover {
	color: #c00;
	background-color: #fff;
}
p {
  display: inline-block;
  padding: 10px;
  margin: 3px;
  width: 300px;
  border: 2px solid grey;
}
/*Footer Styling*/
footer {
  color: #474447;
  background-color: #f2f2f2;
  height: 200px;
}
footer h3{
  margin: 1px;
  margin-top: 20px;
}
footer h4 {
  text-decoration: underline;
  margin-bottom: 1px;
  font-size: 15px;
}
footer ul {
  display: inline;
  margin: 1px;
}
footer li {
  font-size: 12px;
  list-style: none;
}
.pikePlaceInfo {
  height: 150px;
  margin: 10px;
  padding: 1px 10px;
  border: 2px dotted grey;
  display: inline-block;
}
.seaTacInfo {
  height: 150px;
  padding: 1px 10px;
  border: 2px dotted grey;
  margin: 10px;
  display: inline-block;
}
.seattleCenterInfo {
  height: 150px;
  padding: 1px 10px;
  border: 2px dotted grey;
  margin: 10px;
  display: inline-block;
}
.capitolHillInfo {
  height: 150px;
  padding: 1px 10px;
  border: 2px dotted grey;
  margin: 10px;
  display: inline-block;
}
.alkiInfo {
  height: 150px;
  padding: 1px 10px;
  border: 2px dotted grey;
  margin: 10px;
  display: inline-block;
}
/*Table Styling*/
table {
	border: 10px solid black;
  float: inherit;
  margin-top: 5px;
  margin-right: 50px;
  width: 800px;
}
td {
	padding: 10px;
  border: 1px solid black;
  background-color: #CCB2BF;
}
th {
	background-color: navy;
	color: white;
}
fieldset {
  padding: 10px;
  border: 1px inset grey;
  background: #CCB2BF;
}
/*Form Styling*/
input[type="text"] {
  width: 75px;
}
form {
  /*float: left;*/
  margin-top: 50px;
  border: 3px outset black;
  /*width: 375px;*/
  height: auto;
  display: inline-table;
}
/*Sales Page Styling*/
.salesH2 {
  float: left;
  color: white;
  background: navy;
  border: 10px solid black;
  text-align: center;
  width: 800px;
  height: auto;
  margin-right: 50px;
}
/*Index Styling*/
.indexH2 {
  width: 100px
  margin-bottom: 2px;
  text-decoration: underline;
  padding: 10px;
}
.comingSoon {
  margin-bottom: 2px;
  text-decoration: underline;
  padding: 10px;
}
.firstArticle {
  border: 1px dotted black;
  display: inline-block;
}
.secondArticle {
  border: 1px dotted black;
  display: inline-block;
}
/*Image Styling*/
.articlePic {
  border: 1px dotted black;
  display: inline-block;
  height: 250px;
  width: auto;
  margin: 10px;
}
